<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\pc\Desktop\POO\EJERCICIOS JAVAFX\Ferreteria\out\artifacts\Ferreteria_jar\Ferreteria.jar</jar>
  <outfile>C:\Users\pc\Desktop\Aplicacion\Ferreteria.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>26</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>